@import url("https://use.typekit.net/uqi7hgr.css");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: address-sans-pro-condensed, sans-serif;
  font-weight: 300;
  font-style: normal;
}
body {
  width: 100%;
  height: auto;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)),
    #e3e3e3;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: #eee;
}

p {
  text-indent: 9px;
  font-size: 1.5em;
  line-height: 1.25;
  margin-bottom: 2rem;
}

h1 {
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 2px;
  text-align: center;
  color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 2px;
  text-align: left;
  color: white;
}

.aj {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  transform: translateX(-100rem);
  animation: slideIn 1.5s forwards;
}

.aj span {
  color: #db4646;
}

.container {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.5rem;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  transform: translateX(100rem);
  animation: slideIn 1.5s forwards;
}

nav ul li:nth-child(1) {
  animation-delay: 0s;
}

nav ul li:nth-child(2) {
  animation-delay: 0.4s;
}

nav ul li:nth-child(3) {
  animation-delay: 0.8s;
}

nav ul li:nth-child(4) {
  animation-delay: 1.2s;
}

nav ul li a {
  padding: 0.2rem 0;
  margin: 0 2rem;
  position: relative;
  letter-spacing: 2px;
}

nav ul li a:last-child {
  margin-right: 0;
}

nav ul li a::before,
nav ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #db4646;
  left: 0;
  transform: scaleX(0);
  transition: all 0.5s;
}

nav ul li a::before {
  top: 0;
  transform-origin: left;
}

nav ul li a::after {
  bottom: 0;
  transform-origin: right;
}

nav ul li a:hover::before,
nav ul li a:hover::after {
  transform: scaleX(1);
}

.higha{
  font-family: address-sans-pro-condensed, sans-serif;
  font-weight: 600;
  font-style: normal;
}

@keyframes slideIn {
  from {
  }
  to {
    transform: translateX(0);
  }
}

.theone {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.images{
  margin: 0 auto 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery{
  margin-bottom: 2rem;
}

.swipe {
  display: block;
  margin-left: auto;
  margin-right: 10px;
  width: 10%;
  animation: move 2.5s infinite alternate;
}
.scroll {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  animation: move 1s infinite alternate;
}

@keyframes move {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0px);
  }
}
.down {
  text-align: center;
}

.mind {
  height: 270px;
  width: 375px;
  background-image: url(mind@375x270.jpg);
  background-size: cover;
  background-position: center;
}

.about {
  width: 70%;
  max-width: 720px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.holdentench {
  padding-bottom: 2rem;
}

.fincher {
  padding-bottom: 2rem;
}
.button {
  display: inline-block;
  border-radius: 20px;
  background-color: rgb(137, 137, 137);
  border: 2px solid #db4646;
  color: #ffffff;
  font-family: address-sans-pro-condensed, sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  font-size: 1.5rem;
  padding: 10px;
  width: 230px;
  cursor: pointer;
  margin-bottom: 2rem;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\270D";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

footer {
  width: 100%;
  height: 100px;
  background-color: #818181;
  background-image: none;
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.info {
  width: 60%;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: [row] auto [row] auto [row] auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
  align-items: end;
}
.f {
  grid-column: auto / span 2;
  grid-row: row 2;
}
.g {
  grid-column: auto / span 1;
  grid-row: row 2;
}

.h {
  grid-column: auto / span 2;
  grid-row: row 2;
}
.i {
  grid-column: auto / span 5;
  grid-row: row 3;
  color: #333;
}
.hide-mob {
  display: none;
}
.box {
  margin: 0 auto;
  padding: 12px;
  border-radius: 20px;
  background-clip: padding-box;
  text-align: center;
  margin-bottom: 2rem;
}

.buttontwo {
  font-family: address-sans-pro-condensed, sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  font-size: 1.5rem;
  padding: 10px;
  color: #fff;
  border: 2px solid #db4646;
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  width: 230px;
}
.buttontwo:hover {
  background: rgb(137, 137, 137);
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: rgb(137, 137, 137);
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: white;
}
.popup .close {
  position: absolute;
  top: 15px;
  right: 25px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #db4646;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media only screen and (min-width: 650px) {
  .show-desk {
    display: block;
  }

  .hide-desk {
    display: none;
  }

  .mind {
    background-image: url(mind@900x500.jpg);
    height: 500px;
    width: 900px;
  }
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2.25em;
  }

  nav {
    font-size: 3em;
  }
  .aj {
    font-size: 1em;
  }
  .button {
    width: 350px;
    height: 50px;
  }

  .gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 478px;
  }

.images{
  margin: 1rem 1rem 1rem 1rem;
  max-width: 900px;
}